.folders {
  display: inline-block;
  width: 30%;
  height: 80vh;
  border-right: 2px solid lightGrey;
  margin-top: 50px;
  text-align: center;
}

.main {
  display: inline-block;
  text-align: center;
  /*padding-top: 60px;*/
  height: 100vh;
  width: 68%;
}

.main h1 {
  font-size: 50px;
  padding-top: 50px;
  font-family: 'Source Code Pro', sans-serif;
}
