body {
  display: flex;
}

.folders {
  display: inline-block;
  width: 30%;
  height: 80vh;
  border-right: 2px solid lightGrey;
  margin-top: 60px;
  text-align: center;
}

.main {
  display: inline-block;
  text-align: center;
  /*padding-top: 60px;*/
  height: 100vh;
  width: 68%;
}

.main h1 {
  font-size: 50px;
  padding: 50px 0;
  font-family: 'Source Code Pro', sans-serif;
}

.folder-submit-btn, .url-submit-btn {
  vertical-align: top;
  border: 1px solid black;
  height: 35px;
  width: 80px;
  font-size: 15px;
  color: black;
  background-color: #e5e7e9;
  border-radius: 5px;
  font-family: 'Source Code Pro', sans-serif;
}

.folder-submit-btn:hover, .url-submit-btn:hover {
  border: none;
  background-color: #96102f;
  color: white;
  cursor: pointer;
}

.url-input, .folder-input {
  height: 30px;
  font-size: 15px;
  border-radius: 5px;
}

.url-input {
  width: 78%;
  margin-left: 10px;
}

.folder-input {
  width: 40%;
}

.date-filter-btn, .popular-filter-btn, .folder-btn {
  border: none;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 20px;
  background-color: white;
  margin-bottom: 10px;
}

.date-filter-btn:hover, .popular-filter-btn:hover, .folder-btn:hover {
  color: #96102f;
  font-weight: bold;
}

p {
  font-size: 20px;
  font-family: 'Source Code Pro', sans-serif;
}
